.newToDoInput {
  margin-top: 5px;
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: border-color 0.2s ease;
}

.newToDoInput:focus {
  border-color: #2772a3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.newToDoInput::placeholder {
  color: #999;
}

.completed {
  background-color: #9bcef3da;
}
