.boxToDo {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.toDoList {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  width: 95%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.boxCheck {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}
