.mainMenu {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.mainMenu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.mainMenu li {
  margin: 0 10px;
}

.menuLink {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  color: #1e5a88;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 8px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.menuLink:hover {
  background-color: #373d41;
  color: #ffffff;
}

:global .menuLink.active {
  background-color: #2772a3;
  color: #ffffff;
}
