.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b78b36b;
  border: 1px solid #add8e6;
  border-radius: 12px;
  padding: 30px;
  margin: 50px auto;
  max-width: 700px;
  width: 90%;
  text-align: center;
}

.errorCode {
  font-size: 5em;
  color: #1e5a88;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.errorMessage {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
  font-family: monospace;
}

.errorDetails {
  font-size: 1em;
  color: #575757;
  line-height: 1.6;
}
